@model ResultViewModel

@{
    ViewData["Title"] = "Result";
}

<label>Count(A): @Model.CountAnsA</label> <br />
<label>Count(B): @Model.CountAnsB</label> <br />
<label>Count(C): @Model.CountAnsC</label> <br />
<label>Total Answers: @Model.TotalAns</label> <br />
<label>Result: @Model.Result</label>